/* Custom style sheet */

html {
    font-family: 'Raleway', sans-serif; 
}


.navbar {
    opacity: 1;
}

.navbar-brand {
    padding-left: 2rem;
}

.navbar-nav {
    margin-right: 2rem;
}

/* Banner style */
.banner {
    background-image: url('https://github.com/Richbunks/krissieclairetech/blob/master/images/tech%20imagesss.jpg');
    /* background-color: aquamarine; */
    background-size:100%;
    width: 100%;
    height: 30rem;
    padding-top: 6rem;
}


/*footer style */ 

footer {
    height: 100%;
    
}


footer li {
    list-style: none;
    padding: 2rem 1rem;
}
